.connector-container{
    color: white;
    margin-bottom: 100px;
    margin-top:50px;
}


.otherthesis-container{
    color: white;
    margin-bottom: 50px;
    margin-top:100px;
    background: #ba4442;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;

}


u{
    color: #ba4442;
}